/*  Global Styles */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    font-family: 'Roboto', sans-serif;
    --bg-gray: rgb(226, 232, 240);
    --light-blue: rgb(25, 146, 212);
}



/* Containers */

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 175px 1fr;
    grid-template-areas: "sidebar header"
                         "sidebar content";
    height: 100vh;
    background-color: var(--bg-gray);
}

.header {
    grid-area: header;
    padding: 10px 60px 10px 40px;
    background-color: white;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1   );
}

.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;

    padding: 15px 5px;

    background-color: var(--light-blue);
    color: white;
    font-weight: bold;
}

.main-content {
    grid-area: content;
}



/* Sections */

.header-top {
    height: 40%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 100px;
}

.header-main {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60%;
}

.search {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}


/* Components */

.icon {
    height: 30px;
}

.icon.white {
    filter:invert(100%);
}

.heading-lg {
    font-size: 1.5rem;
    font-weight: bold;
}

.heading-md {
    font-size: 1rem;
    font-weight: bold;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

.avatar img {
    margin: auto;
    height: 75%
}

.avatar.thumbnail {
    height: 50px;
    width: 50px;
}

.avatar.gandalf {
    background-color: rgb(160, 160, 160);
}

input[type="search"] {
    height: 35px;
    flex: 1;
    border-radius: 20px;
    border: none;
    padding: 0px 15px;
    background-color: var(--bg-gray);
}

.greeting {
    flex: 1;
}

.header-main button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;

    background-color: var(--light-blue);
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.title .icon {
    justify-self: center;
    height: 50px;
}

.nav {
    padding-left: 0;
}

.nav .sidebar-item {
    margin: 15px 0;
    font-size: 1.2rem;
    list-style: none;
    cursor: pointer;
}

.nav .icon {
    justify-self: center;
    height: 20px;
}
