/*  Global Styles */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    font-family: 'Roboto', sans-serif;
    --bg-gray: rgb(226, 232, 240);
    --light-blue: rgb(25, 146, 212);
}



/* Containers */

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 175px auto 65px;
    grid-template-areas: "sidebar header"
                         "sidebar content"
                         "sidebar footer";
    min-height: 100vh;
    min-width: 1000px;
    background-color: var(--bg-gray);
}

.header {
    grid-area: header;
    padding: 10px 60px 10px 40px;
    background-color: white;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;

    padding: 15px 5px;

    background-color: var(--light-blue);
    color: white;
    font-weight: bold;
}

.main-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 260px;
    gap: 25px;
    padding: 30px 40px 0px 15px;
}



/* Sections */

.header-top {
    height: 40%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-main {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60%;
}

.search {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.credit {
    grid-area: footer;
    font-size: 0.75rem;
    align-self: end;
    padding-bottom: 15px;
    padding-left: 15px;
}

.side-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}



/* Components */

.link {
    cursor: pointer;
}

.icon {
    height: 30px;
}

.icon.white {
    filter:invert(100%);
}

.heading-lg {
    font-size: 1.5rem;
    font-weight: bold;
}

.heading-md {
    font-size: 1.2rem;
    font-weight: bold;
}

.heading-sm {
    font-size: 1rem;
    font-weight: bold;
}

.heading-xsm {
    font-size: 0.9rem;
    font-weight: bold;
}

.content-md {
    font-size: 0.90rem;
    color: rgb(100, 100, 100);
    line-height: 1.2;
}

.content-sm {
    font-size: 0.80rem;
    color: rgb(100, 100, 100);
    line-height: 1.2;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

.avatar img {
    margin: auto;
    height: 75%
}

.avatar.thumbnail {
    height: 50px;
    width: 50px;
}

.avatar.gandalf {
    background-color: rgb(160, 160, 160);
}

.avatar.sauron {
    background-color: rgb(117, 0, 0);
}

.avatar.galadriel {
    background-color: gold;
}

.avatar.legolas {
    background-color: green;
}

.search .icon {
    flex: 0;
}

input[type="search"] {
    height: 35px;
    width: min(675px, 100%);
    border-radius: 20px;
    border: none;
    padding: 0px 15px;
    background-color: var(--bg-gray);
}

.greeting {
    flex: 1;
}

.header-main button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;

    background-color: var(--light-blue);
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.header-main button:hover {
    background-color: rgb(66, 163, 216);;
}

.header-main button:active {
    background-color: rgb(19, 110, 158);;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.title .icon {
    justify-self: center;
    height: 50px;
}

.nav {
    padding-left: 0;
}

.nav .sidebar-item {
    margin: 15px 0;
    list-style: none;
}

.nav .icon {
    justify-self: center;
    height: 20px;
}

.main-content .heading-md {
    padding-bottom: 10px;
}

.card {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.side-section .card {
    display: flex;
    flex-direction: column;
}

.card.announcements {
    gap: 15px;
    padding: 25px;
}

.announcement {
    padding: 0px 5px;
}

.card.announcements hr {
    border: none;
    background-color: rgb(100, 100, 100);
    height: 1px;
    opacity: 0.3;
}

.card.trending {
    padding: 20px 20px 10px 20px;
}

.trending.project {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;
    margin-bottom: 20px;
}

.trending.project .avatar {
    grid-row: 1 / 3;
}

.trending.project .handle {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    align-self: end;
}

.trending.project .project {
    font-size: 0.9rem;
    color: rgb(100, 100, 100);
}

.project.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 25px;
    height: 220px;
    background: repeating-linear-gradient(90deg, rgb(160, 160, 160), rgb(160, 160, 160) 9px, #ffffff 11px, #ffffff 100%);

}

.project.card .content-md {
    flex: 1;
}

.card-icons {
    display: flex;
    gap: 30px;
    justify-content: end;
}