/*  Global Styles */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.woff2') format('woff2'),
        url('fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    font-family: 'Roboto', sans-serif;
    --bg-gray: rgb(226, 232, 240);
    --light-blue: rgb(25, 146, 212);
}

button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;

    background-color: var(--light-blue);
    color: white;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background-color: rgb(66, 163, 216);;
}

button:active {
    background-color: rgb(19, 110, 158);;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

h4 {
    font-size: 0.9rem;
    font-weight: bold;
}

p {
    font-size: 0.90rem;
    color: rgb(100, 100, 100);
    line-height: 1.2;
}


/* Containers */

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 175px auto;
    grid-template-areas: "navbar header"
                         "navbar content";
    min-height: 100vh;
    min-width: 1000px;
    background-color: var(--bg-gray);
}

.navbar {
    grid-area: navbar;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 55px;

    padding: 15px;

    background-color: var(--light-blue);
    color: white;
    font-weight: bold;
}

.header {
    grid-area: header;
    padding: 10px 60px 10px 40px;
    background-color: white;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.main-content-area {
    grid-area: content;
    padding: 0px 40px 0px 25px;
    display: grid;
    grid-template-areas: "projects-header announcements-header"
                         "project-cards   announcements-card"
                         "project-cards   trending-header"
                         "project-cards   trending-card"
                         "project-cards   ............."
                         "footer          footer";
    grid-template-columns: 1fr 260px;
    grid-template-rows: repeat(2, 70px 325px) 1fr 75px;
    column-gap: 25px;
}



/* Sections */

.nav {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding-left: 0;
    list-style: none;
}

.header-top {
    height: 40%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-main {
    height: 60%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-cards {
    grid-area: project-cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 220px;
    gap: 30px;
}



/* Components */

.link {
    cursor: pointer;
}


.icon {
    height: 30px;
    width: 30px;
}

.logo-icon {
    height: 50px;
    width: 50px;
}

.nav-icon {
    height: 20px;
    width: 20px;
}

.icon.white {
    filter:invert(100%);
}


.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

.avatar img {
    margin: auto;
    height: 75%
}

.avatar.thumbnail {
    height: 50px;
    width: 50px;
}

.avatar.gandalf {
    background-color: rgb(160, 160, 160);
}

.avatar.sauron {
    background-color: rgb(117, 0, 0);
}

.avatar.galadriel {
    background-color: gold;
}

.avatar.legolas {
    background-color: green;
}


.card {
    display: flex;
    flex-direction: column;

    padding: 25px;
    
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.project-card {
    padding-left: 15px;
    border-left: 10px solid rgb(160, 160, 160);
}

.project-card-content {
    flex: 1;
}

.project-card-icons {
    display: flex;
    gap: 30px;
    justify-content: end;
}


.announcements-card {
    justify-content: space-between;
}

.announcement {
    padding: 0px 5px;
}

.announcements-card hr {
    border: none;
    background-color: rgb(100, 100, 100);
    height: 1px;
    opacity: 0.3;
}

.trending-card {
    padding: 20px;
    gap: 20px;
}

.trending-project {
    display: flex;
    gap: 20px;
    align-items: center;

    font-size: 0.9rem;
}

.trending-project .main-text {
    color: rgb(0, 0, 0);
}



.navbar-logo {
    display: grid;
    grid-template-columns: 60px 1fr;
    justify-items: start;
    align-items: center;
}

.navbar-link {
    display: grid;
    grid-template-columns: 60px 1fr;
    justify-items: start;
    align-items: center;

    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-link .icon {
    margin-left: 15px;
}


.search {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

input[type="search"] {
    height: 35px;
    width: min(675px, 100%);
    border-radius: 20px;
    border: none;
    padding: 0px 15px;
    background-color: var(--bg-gray);
}

.search .icon {
    flex: 0;
}


.header-top-text {
    font-size: 1rem;
    font-weight: bold;
}

.header-message {
    flex: 1;
}

.primary-header-message {
    font-size: 1.5rem;
    font-weight: bold;
}


.main-content-heading {
    align-self: end;
    margin-bottom: 10px;
}

.side-card-text {
    font-size: 0.80rem;
    color: rgb(100, 100, 100);
    line-height: 1.2;
}


.projects-header {
    grid-area: projects-header;
}

.announcements-header {
    grid-area: announcements-header;
}

.announcements-card {
    grid-area: announcements-card;
}

.trending-header {
    grid-area: trending-header;
}

.trending-card {
    grid-area: trending-card;
}

.artist-credit {
    grid-area: footer;
    font-size: 0.75rem;
    align-self: end;
    padding-bottom: 15px;
}
