ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 175px 1fr;
    grid-template-areas: "sidebar header"
                         "sidebar content";
    height: 100vh;
}

.header {
    grid-area: header;

    background-color: white;
}

.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;

    padding: 20px;

    background-color: rgb(25, 146, 212);
    color: white;
}

.main-content {
    grid-area: content;

    background-color: rgb(226, 232, 240);
}

img.white {
    filter:invert(100%);
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.75rem;
}

.title img {
    height: 3rem;
}

.nav li {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 10px 15px;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav img {
    height: 1.3rem;
}